<footer class="footer">
    <div class="tabs is-centered is-toggle">
        <ul>
            <li>
                <a href="https://open.spotify.com/artist/1nug2Saw38ICe0FolfSgma">
                    <i class="fa fa-spotify social-icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/acrosticaofficial">
                    <i class="fa fa-instagram social-icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCQ4B0m-29gQwdVmr71jptzQ">
                    <i class="fa fa-youtube social-icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/acrostica">
                    <i class="fa fa-facebook social-icon"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="content has-text-centered">
        <p>
            Copyright ©2014 - {{ 'now' | date: "%Y" }}, Acróstica, ALL RIGHTS RESERVED. Developed and maintained by
            <a href="https://www.facebook.com/joegomesdasilva/">Joel Gomes</a>.
        </p>
    </div>
</footer>