// Global
$mobileBreakpoint: 768px;

body {
    background: $color-base-1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

a {
    color: $color-link;
}

a:hover {
    color: rgba($color: $color-link, $alpha: 0.7);
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

.content {

    h1, h2, h3, h4, h5, h6 {
        color: $color-text-2;
        text-transform: capitalize;
    }
}


// Home
.home-logo {
    max-width: 50vh;
    margin-top: 3rem;
}

.home-body {
    background-image: url("/assets/img/tile-1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    animation: background-scroll 60s linear infinite;
}

@keyframes background-scroll {
    0% {
        background-position: 0px 0px
    }

    50% {
        background-position: -200vw 0px
    }

    100% {
        background-position: 0px 0px
    }
}

.home-content {
    margin-top: auto;
}

.container-links {
    min-width: 15rem;
}

@media only screen and (max-width: $mobileBreakpoint) {
    .home-logo {
        max-width: 70vw;
        margin-top: 0rem;
    }

    .container-links {
        min-width: 80%;
    }
}


// Footer
.footer {
    margin-top: auto;
    padding: 1rem;

    strong {
        color: $color-text-2;
    }

    p {
        font-size: 0.7rem;
    }

    i {
        font-size: 1.5rem;
    }
}

.social-icon {
    color: $color-text-1;
}


// Header
.clickable {
    cursor: pointer;
}
