// Global
body {
    background: $color-base-1;
    min-height: 100vh;
    min-width: 370px;
	display: flex;
	flex-direction: column;
}

a {
    color: $color-link;
}

a:hover {
    color: rgba($color: $color-link, $alpha: 0.7);
    opacity: 0.7;
}

.text-center {
    text-align: center;
}

.content {
    
    h1, h2, h3, h4, h5, h6 {
        color: $color-text-2;
        text-transform: capitalize;
    }
}


// Home
.lang-select {
    display: flex;
    min-height: 200px;
    margin: auto;
    
    div {
        padding: 6% 0%;
        opacity: 1.0;
    }
    
    div:hover {
        opacity: 0.8;
    }
    
    .lang-pt {
        margin-left: auto;
        padding-right: 5vw;
    }
    
    .lang-en {
        margin-right: auto;
    }
}

.home-body {
    background-image: url("/assets/img/tile-1.jpg");
    background-repeat: repeat;
    background-position: center;
}

.home-content {
    margin-top: auto;
    padding-top: 50px;
}


// Footer
.footer {
    margin-top: auto;
    
    strong {
        color: $color-text-2;
    }

    p {
        font-size: 0.7rem;
    }
    
    i {
        font-size: 1.5rem;
    }
}

.social-icon {
    color: $color-text-1;
}


// Header
.banner {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("/assets/img/banner-1.jpg");
}

.banner-desktop {
    min-height: 500px;
    background-size: cover;
    background-position: top;
    height: 50%;
}

.banner-mobile {
    min-height: 230px;
    background-size: contain;
    background-position: top;
    background-position-y: 25px;
}

.default-content {
    padding: 20px 20px;
}


// News
.news-card {
    background-color: $color-base-2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    
    div:hover {
        opacity: 0.7;
    }
    
    .news-card-image {
        height: 200px;
        max-width: 200px;
        min-width: 200px;
        margin: auto;
    
        img {
            object-fit: cover;
            min-height: 100%;
        }
    }
    
    .news-card-content {
        color: $color-text-1;
        
        .news-card-date {
            color: $color-text-3;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}

.news-button-older {
    margin-top: 20px !important;
}

.news-post-img {
    object-fit: cover;
    max-height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .news-post-img {
        max-height: 200px;
    }
}