// Theme variables
$color-base-1: #141414;
$color-base-2: #2c2c2c;
$color-text-1: #ffffff;
$color-text-2: #c7c7c7;
$color-text-3: #929292;
$color-link: #ff2b2b;


// Bulma overrides
$navbar-breakpoint: 600px;
$tabs-toggle-link-hover-background-color: $color-base-1;
$footer-background-color: $color-base-2;
$footer-color: $color-text-2;
$footer-padding: 2rem;


@import "../../node_modules/bulma/bulma";
@import "styles";
